@media only screen and (max-width: 1200px){
    
}
@media only screen and (min-width: 992px){
    #reviewModal .modal-dialog{
        max-width: 900px;
    }
    #trainerModal .modal-dialog{
        max-width: 900px;
    }
}
@media only screen and (max-width: 992px){
    
}
@media only screen and (max-width: 768px){

    .container,
.container-fluid{
    overflow-x: hidden;
    width: 100%;
}

.sub-page-banner .text-box .heading{
    font-size: 40px;
}

    #main-nav .navbar-nav{
        margin-top: 20px!important;
    }

    .blog-item{
        display: flex;
        flex-direction: column-reverse; /* Arrange children vertically */
        align-items: center;
    }
    .blog-item .img-box img{
        width: 100%;
        border-radius: 15px 15px 0 0;
    }
    .blog-item .content-box .text{
        margin-bottom: 60px;
        text-align: center;
        font-size: 22px;
    }
    .blog-item .content-box{
        padding: 20px;
    }
    .blog-item .content-box a {
        left: 50%;
        bottom: 20px;
        transform: translate(-50%, -50%);
    }

    .main-banner .heading{
        font-size: 30px;
        width: 100%;
    }
    .main-banner-item {
        min-height: calc(60vh - 60px);
    }
    .banner-card-box .card{
        margin-bottom: 30px;
    }




    .info-section .content-box .sub-text{
        text-align: center;
    }
    .info-section .content-box .title{
        text-align: center;
        font-size: 30px;
    }

    .section-heading h2{
        font-size: 30px;
    }
    .section-heading p {
        font-size: 14px;
        font-weight: 400;
    }


    .info-section .content-box{
        text-align: center;
    }


    .competitive-price-sec .center-img-box img{
        margin-bottom: 50px;
    }


    /* Reviews Section */
    #reviewModal .modal-dialog{
        max-width: 678px;
    }

    #trainerModal .modal-dialog{
        max-width: 678px;
    }
    .personal-trainer-modal-box{
        position: relative;
        padding: 50px 0;
    }
    

    .mobile-app-sec .img-box{
        margin-right: 0;
        text-align: center;
        margin-bottom: 50px;
    }


    .meal-plan-for-every-one-item .img-box img{
        margin-bottom: 30px;
    }
    .meal-plan-for-every-one-item .content-box{
        margin-bottom: 30px;
    }

    .contact-us-main-sec{
        padding-top: 50px;
    }
    .contact-form-side{
        padding-top: 70px;
        margin-bottom: 50px;
      }


      .combo-box .content-box{
        display: flex;
        flex-direction: column-reverse;
        left: 50%;
        top: unset;
        bottom: 40px;
        transform: translate(-50%, -50%);
        position: absolute;
        width: 100%;
        /* transform: unset; */
        rotate: unset;
        text-align: center;
      }

      .blog-detail-page-sec .img-box img{
        height: auto;
      }
      .combo-box .content-box .text{
        font-size: 35px;
        margin-bottom: 0;
        font-weight: 600;
      }
      .combo-box .content-box .sub-text{
        font-size: 16px;
        font-weight: 400;
      }
      /* .combo-box .content-box .text{
        font-size: 18px;
      } */


    .newsletter-box .form-control, .newsletter-box .form-control:focus{
        margin-bottom: 20px;
    }


    .footer-main .info-col{
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-main .info-col .text{
        text-align: center;
    }
    .footer-main .info-col .social-links{
        justify-content: center;
    }
    .footer-main .footer-nav{
        margin-bottom: 40px;
        margin-left: 0;
        text-align: center;
    }
    .copyright-text{
        text-align: center;
        margin-bottom: 10px;
    }
    .footer-bottom .links{
        text-align: center;
    }

    .main-banner-item .bg-box{
        width: 100%;
        padding: 15px 10px;
        margin-bottom: 50px;
    }
    .main-banner-item .bg-box .heading{
        font-size: 30px;
    }
    .banner-card-box .card .title{
        font-size: 22px;
        font-weight: 600;
    }
    #main-nav .navbar-brand img{
        width: 140px;
    }
    .banner-card-box .card .sub-text{
        font-size: 14px;
        font-weight: 600;
    }
    .competitive-item .img-box img {
        width: 45px;
    }
    .blog-detail-page-sec .content-box .heading{
        font-size: 26px;
    }
    .blog-detail-page-sec .content-box .sub-heading{
        font-size: 18px;
    }
    .blog-detail-page-sec{
        padding: 30px 0 50px 0;
    }
    #main-nav .container{
        min-height: 51px;
    }
    .navbar-toggler:focus{
        box-shadow: none;
    }
    .main-blog-page-sec .container{
        overflow-y: hidden;
    }
}
@media only screen and (max-width: 576px){
    .review-modal-box{
        padding: 20px 0;
    }
    .banner-side-text{
        display: none;
    }
    .banner-card-box{
        height: 320px;
    }
}
@media only screen and (max-width: 400px){
    
}